.nav_nav-button {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  height: 30px;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  border: 0px;
  font-family: 'Impact';
}

.nav_nav-button:hover {
  color: #808080;
  background-color: transparent;
}